<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    <div class="d-flex align-items-center flex-wrap">
                        <span class="titulo flex-fill text-center display-6 py-3 border-bottom">Listado de Productos</span>
                        <button 
                        class="btn btn-success px-3 px-lg-5 mx-auto mx-md-0 my-3 my-md-0"
                        [routerLink]="'crear-producto'"
                        >
                        Crear producto
                        </button>
                    </div>
                    <section class="table_container">
                        <table class="table table-striped mt-4" *ngIf="products!=[]">
                            <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">Ubicación</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let product of products">
                                <td>{{product.nombre}}</td>
                                <td>{{product.categoria}}</td>
                                <td>{{product.ubicacion}}</td>
                                <td>{{product.precio}} &euro;</td>
                                <td>
                                    <i class="fa fa-pencil mx-2" aria-hidden="true" [routerLink]="['editar-producto', product._id]"></i>
                                    <i (click)="eliminarProducto(product._id)" class="fa fa-trash mx-2" aria-hidden="true"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p *ngIf="products==[]" class="text-danger text-center">No hay productos para mostrar...</p>
                    </section>
                </div>
            </div>
        </div>
    </div>    
</div>
